modules = ["python-3.11", "python3", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "imagemagick", "libxcrypt"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 5000 --reload"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "5000"]

[userenv]

[userenv.development]
APP_BASE_URL = "https://4ab24e3a-e318-4ff7-8dab-80d71ab1b725-00-19fomh9w0v1z9.riker.replit.dev"

[userenv.shared]
STRIPE_WEBHOOK_SECRET = "whsec_FQxtTmFAxpjAPqsDxfhCWA2NIOxBW0UK"
